// 1280 < 1919
@media (max-width: 1919px) {
	body {
		background-image: url('@/assets/img/sparks_1280.png');
		background-position-y: 379px;
	}

	.container {
		padding-top: 107px;
		padding-bottom: 107px;
		padding-left: 144px;
		padding-right: 139px;
	}

	.content {
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}

	.wrapper {
		height: 652px;
	}

	.search__card {
		padding: 20px;
	}

	.search-input {
		padding: 20px;
		input {
			border-radius: 20px;
		}
	}
	.search-btn {
		right: 30px;
		top: 30px;
		height: 37px;
		width: 37px;
	}
	.search__title {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 700;
		line-height: normal;
	}

	.user-list {
		&__card-photo {
			width: 65px;
			height: 65px;
			margin-right: 15px;
		}
		&__card-name {
			font-size: 14px;
		}
		&__card-chat {
			font-size: 12px;
			line-height: 20px; /* 171.429% */
		}
		&__card-time {
			right: -15px;
			top: -5px;
			font-size: 10px;
		}
		&__item {
			padding: 20px;
			padding-bottom: 14px;
			max-height: 103px;
		}
	}

	.chat {
		.chat-box {
			padding: 20px;
			height: 455px;
			&__date {
				font-size: 12px;
			}
			.user-message {
				&__name {
					font-size: 14px;
				}
				&__text {
					font-size: 14px;
					line-height: 24px; /* 175% */
				}
			}
			.own-message {
				max-width: 326px;
				&__text {
					font-size: 14px;
					line-height: 24px; /* 175% */
				}
			}
		}
		&__filled-wrapper {
			.chat__header {
				padding: 20px;
				.chat-card-content {
					&__card-name {
						margin-bottom: 5px;
						font-size: 16px;
					}
				}
			}
		}
		&__icon {
			margin-bottom: 34px;
			height: 57px;
		}
	}
	.support-btn {
		padding: 14px 19px;
		max-width: 201px;
		font-size: 12px;
	}

	.support-btn_large {
		display: block;
	}
	.support-btn_small {
		display: none;
	}

	.chat-input {
		padding: 20px;
		input {
			padding: 18px;
			font-size: 14px;
			border-radius: 20px;
		}
	}

	.send-btn {
		top: 29px;
		right: 29px;
		width: 37px;
		height: 37px;
	}
	.chat-icon {
		height: 57px;
		width: 75px;
		margin-bottom: 30px;
	}

	.chat__title {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 700;
		line-height: normal;
	}

	.chat__descr {
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
	}
}

// 1024 < 1279
@media (max-width: 1279px) {
	body {
		background-image: url('@/assets/img/sparks_1024.png');
		background-position-y: 302px;
	}

	.container {
		padding: 98px 143px;
	}

	.content {
		grid-template-columns: 296px 422px;
		grid-gap: 20px;
	}

	.search-input {
		input {
			padding: 12px;
			border-radius: 12px;
		}
	}
	.search-btn {
		right: 26px;
		top: 26px;
		height: 27px;
		width: 27px;
		border-radius: 8px;
	}
	.search__title {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 700;
		line-height: normal;
	}

	.user-list {
		&__card-photo {
			width: 55px;
			height: 55px;
			margin-right: 15px;
		}
		&__card-time {
			right: -4px;
			top: -2px;
			font-size: 12px;
		}
		&__card-name {
			font-size: 14px;
		}
		&__card-chat {
			margin-right: 19px;
			font-size: 12px;
			line-height: 20px; /* 171.429% */
		}
		&__item {
			padding: 21px;
			padding-top: 13px;
			padding-bottom: 10px;
			max-height: 93px;
		}
	}

	.chat {
		.chat-box {
			padding: 20px;
			height: 477px;
			&__date {
				font-size: 12px;
			}
			.user-message {
				&__name {
					font-size: 14px;
				}
				&__text {
					font-size: 14px;
					line-height: 24px; /* 175% */
				}
			}
			.own-message {
				&__text {
					font-size: 14px;
					line-height: 24px; /* 175% */
				}
			}
		}
		&__filled-wrapper {
			.chat__header {
				padding: 20px;
				.chat-user-card {
					&__photo {
						margin-right: 15px;
						width: 50px;
						height: 50px;
					}
				}
				.chat-card-content {
					&__card-name {
						margin-bottom: 5px;
						font-size: 16px;
					}
				}
			}
		}
	}
	.support-btn {
		padding: 12px 15px;
		max-width: 105px;
	}

	.support-btn_large {
		display: none;
	}
	.support-btn_small {
		display: block;
	}

	.chat-input {
		padding: 20px;
		padding-top: 13px;
		input {
			padding: 17px;
			border-radius: 17px;
			font-size: 14px;
		}
	}

	.send-btn {
		top: 20px;
		right: 27px;
	}

	.search__title {
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 30px;
	}

	.search__descr {
		font-size: 14px;
		line-height: 24px;
	}

	.chat__title {
		margin-bottom: 5px;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 30px;
	}
}

// 768 < 1023
@media (max-width: 1023px) {
	body {
		background-image: url('@/assets/img/sparks_1024.png');
		background-position-y: 302px;
		background-size: cover;
	}

	.container {
		padding: 0 71px;
		padding-top: 98px;
	}

	.content {
		grid-template-columns: 1fr 1fr;
	}

	.search__title {
		font-size: 13px;
		line-height: 20px;
	}

	.search__descr {
		font-size: 13px;
		line-height: 22px;
	}
}

// 480 < 767
@media (max-width: 767px) {
	body {
		background-image: url('@/assets/img/sparks_480.png');
		background-position-y: 140px;
		background-size: contain;
	}

	.container {
		padding: 0;
	}

	.content {
		grid-template-columns: 1fr;
		.wrapper {
			padding-top: 140px;
			height: 692px;
			border-radius: 0;
		}
	}

	.back-btn_small {
		display: block;
		margin-right: 24px;
		padding: 0;
	}

	.search {
		// padding-top: 98px;
		&-input {
			position: relative;
			display: flex;
			padding: 0 25px;
			color: $primary-light;
			font-size: 13px;
			font-weight: 500;
			line-height: normal;
			border-bottom: 1px solid $primary-light;
			input {
				width: 100%;
				outline: 0;
				padding: 16px 0 16px 20px;
				margin-bottom: 15px;
				color: $primary-light;
				border-radius: 15px;
				border: 1px solid rgba(255, 255, 255, 0.15);
				background: rgba(255, 255, 255, 0.08);
				box-shadow: 2px 0px 10px 0px rgba(6, 3, 9, 0.05), 30px 25px 48px 8px rgba(6, 3, 9, 0.1);
				backdrop-filter: blur(5px);
			}
			.search-input_empty-large {
				display: flex;
			}
		}

		&__card {
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	.search-btn {
		right: 31px;
		top: 6px;
		height: 36px;
		width: 36px;
		border-radius: 15px;
	}

	.user-list {
		&__card-photo {
			width: 55px;
			height: 55px;
			margin-right: 15px;
		}
		&__card-time {
			right: -4px;
			top: -2px;
			font-size: 12px;
		}
		&__card-name {
			font-size: 14px;
		}
		&__card-chat {
			margin-right: 19px;
			font-size: 12px;
			line-height: 20px; /* 171.429% */
		}
		&__item {
			padding: 25px;
			padding-top: 11px;
			padding-bottom: 11px;
			max-height: 87px;
		}
	}

	.chat__filled-wrapper_small {
		display: none;
	}

	.support-btn {
		padding: 15px 20px;
		max-height: 45px;
		max-width: 115px;
		border-radius: 15px;
		font-size: 12px;
		border-radius: 15px;
	}

	.chat {
		// display: none;
		.chat__filled-wrapper {
			padding-top: 117px;
			.chat__header {
				padding: 26px;
				padding-top: 23px;
				padding-left: 26px;
				padding-bottom: 16px;
				.chat-user-card {
					margin-right: auto;
					&__photo {
						margin-right: 10px;
						width: 49px;
						height: 49px;
						border-radius: 15px;
					}
				}
				.chat-card-content {
					&__card-name {
						margin-bottom: 6px;
						font-size: 13px;
						font-weight: 600;
					}
					&__card-time {
						color: $primary-light;
						font-size: 12px;
						font-weight: 500;
						line-height: normal;
					}
				}
			}
		}

		.chat-box {
			display: flex;
			flex-direction: column;
			height: 613px;
			padding: 28px 25px 34px 24px;
			&__date {
				margin-bottom: 10px;
				margin-top: 10px;
				padding: 7px 10px;
				max-width: 102px;
				border-radius: 20px;
				font-size: 12px;
				font-weight: 500;
			}

			.user-message-wrapper {
				display: flex;
				.user-message-photo {
					display: none;
				}
			}
			.user-message {
				padding: 14px;
				padding-top: 10px;
				margin-bottom: 5px;
				max-width: 332px;
				border-radius: 30px 30px 30px 2px;
				border: 1px solid rgba(255, 255, 255, 0.05);
				background: #2c2731;
				backdrop-filter: blur(5px);
				&__name {
					margin-bottom: 5px;
					color: $primary-white;
					font-size: 13px;
					font-weight: 600;
					line-height: normal;
				}
				&__text {
					margin: 0;
					color: $primary-light;
					font-size: 13px;
					font-weight: 500;
					line-height: 28px; /* 175% */
				}
				&__time {
					position: absolute;
					right: 10px;
					bottom: 10px;
					color: $primary-light;
					font-size: 12px;
					font-weight: 500;
					line-height: 20px; /* 166.667% */
				}
			}
			.own-message {
				position: relative;
				align-self: flex-end;
				padding: 15px;
				max-width: 600px;
				border-radius: 30px 30px 2px 30px;
				border: 1px solid rgba(255, 255, 255, 0.05);
				background: #3e4070;
				backdrop-filter: blur(5px);
				&__name {
					margin-bottom: 5px;
					color: $primary-white;
					font-size: 13px;
					font-weight: 600;
					line-height: normal;
				}
				&__text {
					margin: 0;
					color: $primary-light;
					font-size: 13px;
					font-weight: 500;
					line-height: 28px; /* 175% */
				}
				&__time {
					position: absolute;
					right: 10px;
					bottom: 10px;
					color: $primary-light;
					font-size: 12px;
					font-weight: 500;
					line-height: 20px; /* 166.667% */
				}
			}
		}
	}
	.chat-input {
		padding: 25px;
		padding-top: 13px;
		input {
			border-radius: 15px;
		}
	}
	.send-btn {
		top: 20px;
		right: 31px;
	}
}
